<!DOCTYPE html>
<html>
  <head>
    <title>Taski</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%=  image_tag 'logos/zoatworks-homepage.png', width: '150px' %>

    <%= render 'shared/nav' %>

    <%= yield %>

  </body>
</html>
